.laser_beam{
    position: absolute;
    top: 560px;
    width: 2px;
    height: 30px;
    background-color:#f11;
    transition-duration:transform 0s, 0.4s;
    -webkit-transition-duration:transform 0s, 0.4s;
}